<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Scripts/css/StyleSheet.css">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    
    <div class="container body-content">

        <h1>OSTEPAKKEN</h1>
        <div>
            <nav>
                <table id="menutop">
                    <tr>
                        <td>@Html.ActionLink("Home", "Index")</td>
                        <td>@Html.ActionLink("Sidste nyt", "Index")</td>
                        <td>@Html.ActionLink("Månedens tilbud", "Index")</td>
                        <td>@Html.ActionLink("Handelsbetingelser", "Index")</td>
                        <td>@Html.ActionLink("Kundeservice", "Index")</td>
                    </tr>

                </table>
                <ul id="menu">
                    <li>@Html.ActionLink("Discount pris", "DiscountCheese")</li>
                    <li>@Html.ActionLink("Hverdagsoste", "Index")</li>
                    <li>@Html.ActionLink("Luksusoste", "Index")</li>
                    <li>@Html.ActionLink("Eksklusive oste", "Index")</li>
                    <li>@Html.ActionLink("Osteborde", "Index")</li>
                </ul>
            </nav>
        </div>
        <div id="renderbody">
            @RenderBody()
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>