@model  IEnumerable<Webshop.Product>

@{
  
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DiscountCheese</title>
</head>
<body>
    <div> 
        <h1>Discount pris</h1>
        <table>

            @foreach (var i in Model)
            {
                <tr>
                    <td>
                        Id: @i.id <br />
                        Navn: @i.name<BR />
                        Land: @i.country<br />
                        Bedømmelse: @i.rating<br />
                        Pris: @i.unitPrice<br />
                        @Html.ActionLink("Produkt", "productInfo", new { id = i.id });
                    </td>
                </tr>}
        </table>



    </div>
</body>
</html>
