@model  Webshop.Models.Wrapper
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/css/StyleSheet1.css">
    <title>DiscountCheese</title>
</head>

<body>
    <header id="indkøbskurv">

        @if (Model.userprofile.LoginUser.name == "DefaultUser")
        {
            @Html.ActionLink("Login", "Index", "Login")
        }
        else
        {
            @Html.ActionLink("Bruger Profile", "userProfile", new { id = Model.userprofile.id }) < br />
            @Html.ActionLink("Log ud", "index", new { id = -1 })
        }

        <div>
            @Html.ActionLink("Indkøbskurv", "Index")
        </div>
    </header>
    <div>


        <h1>Eksklusive Oste</h1>
        <table id="produktList">
            @foreach (var i in Model.list)
            {
                <tr>
                    <td>
                        Id: @i.id <br />
                        Navn: @i.name<BR />
                        Land: @i.country<br />
                        Bedømmelse: @i.rating<br />
                        Pris: @i.unitPrice<br />
                        @Html.ActionLink("Produkt", "productInfo", new { id = @i.id, bid = Model.userprofile.id })

                    </td>
                    <td>
                        <img src="@String.Format("data:image/png;base64,{0}", @i.getImg())" />
                    </td>
                </tr>
            }
        </table>



    </div>
</body>
</html>
