@model Webshop.Product

@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>productInfo</title>
</head>
<body>
    <div> 
        <table>
            <thead>
                @Model.name
            </thead>
            <tbody>
                <tr>
                    <td>ID: @Model.id</td>
                    <td>Navn: @Model.name</td>
                    <td>Land: @Model.country</td>
                    <td>Rating: @Model.rating</td>
                    <td>Pris: @Model.unitPrice</td>
                    @Model.description
                    <!--Beskrivelse Model.Discription-->
                </tr>
            </tbody>
       
       
       
       
       
      
        </table>
    </div>
</body>
</html>
