@model Webshop.Product

@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>productInfo</title>
</head>
<body>
    <div> 
        <table>
            <thead>
                <h2>@Model.name</h2>
            </thead>
            <tbody>
                <tr>
                    
                    <td>
                        ID: @Model.id <br />
                        Navn: @Model.name <br />
                        Land: @Model.country <br />
                        Rating: @Model.rating <br />
                        Pris: @Model.unitPrice <br />
                        Beskrivelse: @Model.description
                    </td>
                    <td>
                        Billede
                    </td>
                </tr>
            </tbody>
       
       
       
       
       
      
        </table>
    </div>
</body>
</html>
