@model Webshop.Models.Wrapper

@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/css/StyleSheet1.css">
    <title>productInfo</title>
</head>
<body>
    <header id="indkøbskurv">
       
        @if (Model.userprofile.LoginUser.name == "DefaultUser")
        {
            @Html.ActionLink("Login", "Index", "Login")
        }
        else
        {
            @Html.ActionLink("Bruger Profile", "userProfile", new { id = Model.userprofile.id })<br />
            @Html.ActionLink("Log ud", "index", new { id = -1 })
        }

        <div>
            @Html.ActionLink("Indkøbskurv", "Index")
        </div>
    </header>
    <h1>OSTEPAKKEN</h1>
    <div>
        <nav>
            <table id="menutop">
                <tr>
                    <td>@Html.ActionLink("Home", "Index")</td>
                    <td>@Html.ActionLink("Sidste nyt", "Index", new { id = Model.userprofile.id })</td>
                    <td>@Html.ActionLink("Månedens tilbud", "Index", new { id = Model.userprofile.id })</td>
                    <td>@Html.ActionLink("Handelsbetingelser", "Index", new { id = Model.userprofile.id })</td>
                    <td>@Html.ActionLink("Kundeservice", "Index", new { id = Model.userprofile.id })</td>
                </tr>

            </table>
            <ul id="menu">
                <li>@Html.ActionLink("Discount pris", "DiscountCheese", new { id = Model.userprofile.id })</li>
                <li>@Html.ActionLink("Hverdagsoste", "Index", new { id = Model.userprofile.id })</li>
                <li>@Html.ActionLink("Luksusoste", "Index", new { id = Model.userprofile.id })</li>
                <li>@Html.ActionLink("Eksklusive oste", "Index", new { id = Model.userprofile.id })</li>
                <li>@Html.ActionLink("Osteborde", "Index", new { id = Model.userprofile.id })</li>
            </ul>
        </nav>
    </div>

    <div> 
        <table>
            <thead>
                <h2>@Model.produkt.name</h2>
            </thead>
            <tbody>
                <tr>
                    
                    <td>
                        ID: @Model.produkt.id <br />
                        Navn: @Model.produkt.name <br />
                        Land: @Model.produkt.country <br />
                        Rating: @Model.produkt.rating <br />
                        Beskrivelse: @Model.produkt.description
                    </td>
                    <td>
                        <img src="@String.Format("data:image/png;base64,{0}", @Model.produkt.getImg())" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            @using (Html.BeginForm(new { id = @Model.produkt.id,  bid = Model.userprofile.id }))
                            {
                                @Html.Label("Antal")

                                @Html.TextBox("Antal")
                                <input type="submit" value="LÆG I KURV" />
                            }
                           
                        </div>
                    </td>

</tr>
            </tbody>
        </table>
        
        
    </div>
</body>
</html>
